.ls-rain .cloud-wrapper { height: 120px; width: 150px; top: 0; padding-top: 10px; }
.ls-rain .cloud {
    margin-bottom: 40px;
}

.period-card.in .ls-rain .cloud-wrapper {
    opacity: 1;
    left: 8px;
    transition: all 1s;
}
.simple-rain {
    position: relative;
    bottom: 0;
    left: 0;
}
.simple-rain ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.simple-rain ul li {
    opacity: 0;
    float: left;
    position: absolute;
    bottom: 55px;
    left: 50px;
    margin-left: 20px;
    height: 40px;
    width: 35px;
    background: url('drop.svg') center center no-repeat;
}

.period-card.in .ls-rain .simple-rain ul li:first-child{
    left: 0;
    animation: rain-drop 1s .8s linear forwards;
}
.period-card.in .ls-rain .simple-rain ul li:nth-child(2){
    left: 30px;
    animation: rain-drop 1s 1.1s linear forwards;
}
.period-card.in .ls-rain .simple-rain ul li:last-child{
    left: 60px;
    animation: rain-drop 1s 1.4s linear forwards;
}

@keyframes rain-drop {
    0% { opacity: 0; bottom: 100px; }
    70% { opacity: 0; bottom: 100px; }
    85% { opacity: 1; bottom: -5px; }
    100%{ opacity: 1; bottom: 15px; }
}
