@import 'common.css';
@import 'sun.css';
@import 'sun-cloud.css';
@import 'cloud.css';
@import 'rain.css';
@import 'thunder.css';
@import 'fps.css';

html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #324e72;
	font-family: 'Monaco', Monaco, monospace;
	overflow: hidden;
}
.wrapper{
	margin: 0 50px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.container {
	margin-top: -100px;
}
