.cloud-wrapper {
    position: relative;
    bottom: -10px;
    left: 200px;
    z-index: 2;
    margin-bottom: 15px;
    padding-top: 10px;
    transform: translate3d(0, 0, 0);
}
.period-card.in .ls-sun-cloud .cloud-wrapper {
    left: -15px;
    transition: left 1s 1s;
}
.ls-sun-cloud .cloud { opacity: 0 }
.period-card.in .ls-sun-cloud .cloud {
    opacity: 1;
    transition: opacity 1s 1s;
}

