html {
	height: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;
	--vh: 19.2px;
	--animation-speed: 20s;
	--orbit: 500px;
	--sun: 50px;
	--font: 12px;
}
* {
	box-sizing: border-box;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	background-color: #ddc8ff;
}

.page-wrapper {
	display: flex;
	justify-content: center;
	height: 100%;
	padding: 5px;
}
.screen {
	height: 100%;
	position: relative;
	z-index: 20;
}
.screen-image {
	height: 100%;
	z-index: 20;
}
.screen-container {
	position: relative;
}
.content-wrapper {
	background-color: #026d5f;
	position: absolute;
	transform-origin: top left;
	left: 12.5px;
	top: 8.5px;
	width: 88px;
	height: 154px;
	z-index: 21;
	overflow: hidden;
}
.logo {
	position: absolute;
	bottom: 0;
	background-color: rgba(255,255,255,0.3);
	z-index: 23;
}

/* preview slide */

.preview-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 24;
}
.preview {
	opacity: 0;
	width: 100%;
	height: 100%;
	background: rgb(5,108,87);
	background: -moz-linear-gradient(45deg, rgba(5,108,87,1) 0%, rgba(28,195,125,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(5,108,87,1) 0%, rgba(28,195,125,1) 100%);
	background: linear-gradient(45deg, rgba(5,108,87,1) 0%, rgba(28,195,125,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#056c57",endColorstr="#1cc37d",GradientType=1);
	display: flex;
	justify-content: center;
	align-items: center;
	transform-origin: center center;
	transform: scale3d(1,1,1);
	transition: all 1s linear;
}
.preview.in {
	transform: scale3d(1.7,1.7,1);
	opacity: 1;
	transition: transform 8s linear;
}
.preview-logo {
	margin-top: -50px;
}
.repeat-wrapper {
	display: flex;
	position: absolute;
	bottom: 20px;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 25;
}
.repeat-btn {
	width: calc(var(--font) * 1.3);
	height: calc(var(--font) * 1.3);
	color: white;
	padding: calc(var(--font) * 0.2);
	border-radius: 50%;
	background-color: rgba(255,255,255,0.25);
	opacity: 0.9;
	cursor: pointer;
	shape-rendering: geometricPrecision;
	z-index: 25;
}
.sunset-container {
	overflow: hidden;
	position: relative;
	overflow: hidden;
	background-color: rgb(37, 29, 24);
}

div.sunset.initial .sky__phase,
div.sunset.initial .sky__bg,
div.sunset.initial .orbit,
div.sunset.initial .ground {
	animation: none;
}

div.sunset.initial .sun, div.sunset.initial .moon {
	visibility: hidden;
}

div.sunset.paused .sky__phase,
div.sunset.paused .sky__bg,
div.sunset.paused .orbit,
div.sunset.paused .ground {
	animation-play-state: paused;
}

.hidden {
	display: none;
}

.sun {
	position: absolute;
	width: var(--sun);
	height: var(--sun);
	background-color: rgb(254, 215, 102);
	border-radius: 50%;
	top: 0;
	left: 0;
	transform: translate3d(-50%, -50%, 0);
	-webkit-box-shadow: 0 0 12px 6px rgb(255, 241, 188);
	box-shadow: 0 0 12px 6px rgb(255, 241, 188);
}

.moon {
	position: absolute;
	width: var(--sun);
	height: var(--sun);
	border-radius: 50%;
	background-color: #fff;
	bottom: 0;
	right: 0;
	transform: translate3d(50%, 50%, 0);
	-webkit-box-shadow: 0 0 12px 6px rgb(182, 182, 182);
	box-shadow: 0 0 12px 6px rgb(182, 182, 182);
}

.sky {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 5;
}

.sky__phase {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: opacity 0.2s;
}

.sky__bg {
	background-color: #002941;
	-webkit-animation: linear dawn forwards var(--animation-speed);
	animation: linear sky forwards var(--animation-speed);
	transform: translate3d(0,0,0);
}

.origin-center {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.orbit {
	position: absolute;
	top: 60%;
	left: 50%;
	width: var(--orbit);
	height: var(--sun);
	transform-origin: 50% 50%;
	animation: linear sunrise forwards var(--animation-speed);
	-webkit-animation: linear sunrise forwards var(--animation-speed);
	z-index: 6;
}
.orbit-path {
	position: absolute;
	top: calc(60% + calc(var(--sun) / 2));
	left: 50%;
	border-radius: 50%;
	background-color: rgba(255,255,255,.05);
	z-index: 7;
	width: var(--orbit);
	height: var(--orbit);
}

.ground {
	position: absolute;
	top: 60%;
	height: 40%;
	width: 100%;
	background-color: #000000;
	animation: linear ground forwards var(--animation-speed);
	-webkit-animation: linear ground forwards var(--animation-speed);
	z-index: 10;
}

.info {
	opacity: 1;
	background-color: rgba(98, 98, 98, 0.6);
	padding: 4px calc(var(--font) / 2);
	border-radius: 4px;
	color: white;
	font-size: var(--font);
	line-height: 1.3;
	min-width: var(--sun);
	z-index: 23;
}
.initial .sun, .initial .moon, .initial div.info {
	opacity: 0;
	transition: opacity 1s;
}
.info.left {
	position: absolute;
	top: var(--sun);
	left: var(--sun);
	opacity: 1;
	transition: opacity 2s 1s;
}
.info.right {
	position: absolute;
	top: var(--sun);
	right: var(--sun);
	opacity: 1;
	transition: opacity 2s 7s;
}
.info.center {
	position: absolute;
	bottom: calc(40% + var(--font));
	left: calc(50%);
	transform: translate(-50%, 0)
}
.info.now {
	visibility: hidden;
	min-width: 0;
	transform: translate3d(var(--sun), -100%, 0);
}
.info.now.left {
	transform: translate3d(calc(var(--sun) * -1), -100%, 0);
}
.paused .now {
	visibility: visible;
	position: absolute;
}

@keyframes sunrise {
	from { transform: translate(-50%,0) rotate(0deg) }
	to { transform: translate(-50%,0) rotate(360deg) }
}
@keyframes sky {
	0% { background-color: #002941 }
	25% { background-color: #6290a9 }
	50% { background-color: #470094 }
	75% { background-color: #00163b }
	100% { background-color: #002941 }
}
@keyframes ground {
	0% { background-color: #000000 }
	5% { background-color: #123600 }
	25% { background-color: #2c7c0f }
	50% { background-color: #123600 }
	75% { background-color: #000000 }
	100% { background-color: #000000 }
}

.hidden {
	visibility: hidden;
}

.cards {
	display: flex;
}

div.period-card {
	height: 240px;
	width: 180px;
	border-radius: 8px;
	opacity: 0;
	padding: 10px;
	box-shadow: none;
	position: relative;
	margin-right: 30px;
	z-index: 1;
	transition: all 1s;
}
div.content-center {
	display: flex;
	justify-content: center;
}

.w100 { width: 100% }

div.content { height: 100%; }
div.period-card.in {
	opacity: 1;
	background-color: #1b3757;
	box-shadow: 0 2px 5px 1px #1f1f1f;
}
div.period-card:nth-child(2) {
	z-index: 10;
}
div.period-card:nth-child(3) {
	z-index: 20;
}

/* Typography */
.title {
	display: block;
	color: #d6ffef;
}
.day-title {
	font-size: 34px;
	margin: 5px;
	opacity: 0;
	transition: all .5s;
}
.place-title {
	font-size: 26px;
	margin: 5px;
	opacity: 0;
	transition: all .5s;
}
.day-title.in, .place-title.in {
	opacity: 1;
}
.period-title { font-size: 24px; margin-bottom: 15px; }
.temperature {
	font-size: 28px;
	font-weight: 700;
	position: absolute;
	bottom: 10px;
}
.temperature, .period-title {
	margin-left: 10px;
	opacity: 0;
	transition: all 2s;
}
.in .temperature, .in .period-title {
	opacity: 1;
}
