@import 'clock.css';
@import 'flip-clock.css';
@import 'fps.css';

html {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
* {
	box-sizing: border-box;
}
body {
	background: radial-gradient(circle, #005b50 40%, #000000 100%);
	font-family: "Monaco", Monaco, monospace;
}
.wrapper {
	position: absolute;
	top: 40%;
	left: 50%;
}
